table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
.title {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3498db;
    font-size: 25px;
}
.week {
    border: 1px solid white;
}
.calendar {
    border: 1px solid rgb(7, 7, 7);
    width: 80%;
}
.day_s {
    background-color: red;
    color: white;
}
.c_sun{
    color: red;
}
.c_sat{
    color: blue;
}
.solar_calendar_sun {
    color: red;
}
.solar_calendar_sat {
    color: blue;
}
.color_sub {
    color: black;
}
.day_y {
    color: white;
    background-color: orange;
}
.day_b {
    color: white;
    background-color: blue;
}


