body{
    background-color: #f39c12;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 500px;
    width: 500px;
}
.row_1 td:nth-child(even) {
    background-color: white;
}
.row_1 td:nth-child(odd) {
    background-color: black;
}
.row_2 td:nth-child(odd) {
    background-color: white;
}
.row_2 td:nth-child(even) {
    background-color: black;
}



